<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/jemdoc.css">
  <link rel="icon" href="/assets/infra/favicon.png">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  <table id="tlayout">
    <tr valign="top">
      <td id="layout-menu">
        <div class="menu-category">Menu</div>
        <div class="menu-item"><a href="/index.html" class="current">Home</a></div>
        <div class="menu-item"><a href="/menu1/">Papers</a></div>
        <div class="menu-item"><a href="/menu2/">Teaching</a></div>
        <div class="menu-item"><a href="/menu3/">Personal</a></div>
      </td>
      <td id="layout-content">

<!-- Content appended here -->
